/*ProDetail.css(교수용 - 채점 결과 개인 상세 조회 페이지-CSS)*/

.detailinfo {
position: absolute;
top: 200px;
left: 50%;
transform: translateX(-50%);
display: flex;
align-items: center;
}


.detailname,
.detailid,
.detailcheck {
height: 30px;
background: #F4F8FA;
border-radius: 8px;
border: 1px solid #D1E2EA;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #28B5E1;
margin-right: 10px;
}

.detailname { width: 300px; }
.detailid { width: 300px; }
.detailcheck { width: 300px; }




.getdetailinfo {
position: relative;
top: 240px;
left: 68%;
transform: translateX(-50%);
align-items: center;
display: flex;
}

.getdetailname,
.getdetailid,
.getdetailcheck {
height: 20px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 16px;
margin-right: 10px;
}

.getdetailname { width: 300px; }
.getdetailid { width: 300px; }
.getdetailcheck { width: 300px; }



