/* DuFinTask.css(진행중인과제, 마감된 과제 네모 박스-CSS) */

/*진핸중인 과제*/
.DuringTask {
    position: absolute;
    width: 239px;
    height: 40px;
    left: 67px;
    top: 130px;
    background: #0089ED;
    display: flex;
    border-radius: 8px;
    line-height: 45px;
    align-items: center;
    text-align: center;
    justify-content:center;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;

}

.DuringTask .ring {
    position:absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    border: 2px solid #1D5BD6;
    border-radius: 12px;
}

.DuTaskInfo {
    display: flex;
    position: absolute;
    top: 100%;
    left:20%;
  }


  
  .DuTaskSubject,
  .DuTaskDivision,
  .DuTaskTitle,
  .DuTaskFinishDate {
    position: relative;
    height: 30px;
    background: #F4F8FA;
    border-radius: 8px;
    border: 1px solid #D1E2EA;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #28B5E1;
    margin-right: 10px; 
  }
  
  .DuTaskSubject {
    width: 400px;
  }
  
  .DuTaskDivision {
    width: 120px;
  }
  
  .DuTaskTitle {
    width: 480px;
  }
  
  .DuTaskFinishDate {
    width: 220px;
  }
  

  /*마감된 과제*/
  .FinishTask {
    position: relative;
    width: 239px;
    height: 40px;
    top: 430px;
    left: 67px;
    background: #0089ED;
    display: flex;
    border-radius: 8px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    justify-content:center;
    line-height: 45px;
    color: #FFF;
}

.FinishTask .ring{
    position:absolute;
    left: -4px;
    right: -4px;
    top: -4px;
    bottom: -4px;
    border: 2px solid #1D5BD6;
    border-radius: 12px;
}

  .FinTaskInfo {
    display: flex;
    position: absolute;
    top: 100%;
    left:20%;
  }
  
  .FinTaskSubject,
  .FinTaskDivision,
  .FinTaskTitle,
  .FinTaskFinishDate {
    position: relative;
    height: 30px;
    background: #F4F8FA;
    border-radius: 8px;
    border: 1px solid #D1E2EA;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #28B5E1;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .FinTaskSubject {
    width: 400px;
  }
  
  .FinTaskDivision {
    width: 120px;
  }
  
  .FinTaskTitle {
    width: 480px;
  }
  
  .FinTaskFinishDate {
    width: 220px;
  }