/* Login.css */

  
  .loginCenteredContainer {
    width: 50%; 
    float: left; 
    margin:0 auto;
  }
  
  .loginSubheader {
    width: 363px;
    height: 33px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    color: #73797B;
    margin: 0 auto;
    position: absolute;
    top: 30%; 
    left: 13%;

  }
  
  
  .loginWAS {
    width: 193px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 110%;
    text-align: center;
    color: #0D2D84;
    margin: 0 auto;
    position: absolute;
    top: 37%; 
    left:18%;
  }
  
  .loginAIHeader {
    width: 527px;
    height: 33px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    color: #0D2D84;
    margin: 0 auto;
    position: absolute;
    top: 50%; 
    left:7%;
  }
  
  #loginAIheader-ColorDifferent {
    color: #0089ED; 
  }

.rectangle13 {
    position: absolute;
    width: 539px;
    height: 741px;
    right: 9%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
  }
  
  .loginboxwelcometo {
    position: absolute;
    top:3%;
    left:5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 35px;
    color: #000000;
  }
  
  #loginboxWAS {
    color: #0D2D84;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
  }
  
  .loginboxlogin {
    position: absolute;
    top:7%;
    left:5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 82px;
    color:  #0089ED;;
  }

  .loginid{
    position: absolute;
    top:25%;
    left:5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  #email{
    box-sizing: border-box;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 30%;
    bottom: 63%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 137, 237, 0.71);
    border-radius: 9px;
    font-family:"Poppins";
    font-style: normal;
    font-size:20px;
    font-weight: 400;
    padding: 10px;
  }

  .loginpassword{
    position: absolute;
    top:42%;
    left:5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  #userpassword{
    box-sizing: border-box;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 47%;
    bottom: 46%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 137, 237, 0.71);
    border-radius: 9px;
    font-family:"Poppins";
    font-style: normal;
    font-size:20px;
    font-weight: 400;
    padding: 10px;
  }

  .loginbutton{
    box-sizing: border-box;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 80%;
    bottom: 13%;
    background: #0089ED;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    border:none;
    color:white;
    font-family:"Poppins";
    font-style: normal;
    font-size:17px;
    font-weight: 700;
    cursor: pointer;
  }

  .noaccount{
    position: absolute;
    top:5%;
    right:10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #8D8D8D;
  }

  .gocreateaccount {
    position: absolute;
    top:8%;
    right:13%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    color:#0089ED;
  }


 